<figure class="card">
  <div class="card_available {%NOT_AVAILABLE%}">
    <h5>In Stock</h5>
  </div>
  <img class="card_image" src="{%IMAGE%}" alt="{%GAMENAME%} cover" />
  <div class="card_body">
    <h2 class="card_title">{%GAMENAME%}</h2>
    <p class="card_info">
      {%GENRE%} | Rating:
      <span class="rating-value" data-rating="{%RATING%}">{%RATING%}</span>
    </p>

    <a class="card_link see-more-btn" href="#">See more</a>

    <div class="card_more hidden">
      <p><strong>Platform:</strong> {%PLATFORM%}</p>
      <p><strong>Price:</strong> {%PRICE%}€</p>
      <p><strong>Description:</strong> {%DESCRIPTION%}</p>
      <a class="card_cta" href="#">🛒 Add to shopping cart</a>
    </div>
  </div>
</figure>